.main-container {
  display: flex;
  height: 700px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap
}

.box {
  border-style: solid;
  min-height: 50px;
  min-width: 50px;
  flex-grow: 1;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
